/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap');

/* Background - content  */

body {
    font-family: "Cairo", sans-serif;

    min-height: 100vh;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


body:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #00818a; center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#map {
  height: 80vh;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 400%;
  width: 100%;
  margin: 0;
  padding: 0 15px;
}

#map-canvas {
        height: 100vh;
background-size: cover;
/* Optional: Makes the sample page fill the window. */

  width: 100%;
  margin: 40px;
  margin-bottom: 40px;
  padding: 20px;
 border: 2px;
 justify-content: center;
 display: flex;
}
      

/*Welcome to Euro 2020*/
.uppercase {
    text-transform: uppercase;
}

.headings {
    padding-top: 50px;
    font-weight: 600;
    color: #fafafa;
}

.headline-text {
    font-size: 20px;
    color: #fafafa;
}
/* Euro Trophy Background in Index Page */
.index-container {
    height: 100vh;
    background-color: #fafafa;
    background: url("../images/euro-trophy.jpg") no-repeat top center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-heading {
    color: #7FFF00;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron-text {
    margin: 30px;
    font-size: 24px;
    color: #fafafa;
}

/* Navigation Section - styling and formatting for use of reusable nav bar at top of pages*/

.navbar-nav {
    text-align: center
}

.navbar-brand img {
    border: 3px solid #fafafa;
    max-width: 60px;
}

.navbar-brand-text {
    font-weight: 600;
    color: #fafafa;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    vertical-align: middle;
}

.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
    font-size: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.nav-footer-color {
    background-color: #293462;
    color: #ffffff;
    box-shadow: 0px 0px 25px 0px rgba(34, 52, 116, 0.95);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(34, 52, 116, 0.95);
    -moz-box-shadow: 0px 0px 25px 0px rgba(34, 52, 116, 0.95);
}
/*Index Box*/
.bg-clr-yellow {
    background-color: #ec9b36;
}

.navigation-container {
    margin-top: 0px;
    background-color: transparent;
}

.navquestion {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navquestion a {
    text-decoration: none;
}

.navquestion a span {
    color: #fafafa;
}

.btn-red-transition:hover {
    color: #f7be16;
}

.uppercase {
    text-transform: uppercase;
}

.headings {
    padding-top: 50px;
    font-weight: 600;
    color: #fafafa;
}

.headline-text {
    font-size: 20px;
    color: #fafafa;
}

.border-box {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.box-format {
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
}

/*Footer Menu*/
footer {
    margin-top: auto;
}

.three-reasons-icon {
    font-size: 26px;
    color: #f7be16;
}

.footer-headings {
    padding-top: 15px;
    font-weight: 600;
}


.footer-links li a i {
    color: #f7be16;
    font-size: 25px;
    text-align: center;
    padding: 0px;
    width: 35px;
    height: 35px;
}


/*media queries for larger viewports*/

@media (min-width:992px) {
    .navbar-brand img {
        border: 3px solid;
        max-width: 100px;
    }

section {
     margin-top: 81px;
 }

.price-img-float {
    float: left;
    margin: 10px 10px 10px 0px;
}

.contact-links li a i {
        color: #fafafa;
        font-size: 25px;
        text-align: center;
        padding: 5px;
        width: 40px;
        height: 40px;
        border: 3px solid #f7be16;
        border-radius: 50%;
        transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
    }


.footer-links li a i {
        color: #fafafa;
        font-size: 25px;
        text-align: center;
        padding: 5px;
        width: 40px;
        height: 40px;
        border: 3px solid #f7be16;
        border-radius: 50%;
        transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
    }
/*media queries for larger viewports*/

@media (min-width:992px) {
    .navbar-brand img {
        border: 3px solid;
        max-width: 100px;
    }
/* Formatting of Location map for responsive design*/

.embed-responsive-item {
    margin-top: 30px;
}